USE [Reporting]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 7/7/2024 12:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Year] [int] NULL,
	[TheMonthName] [nvarchar](30) NULL,
	[TheWeek] [int] NULL,
	[TheDate] [date] NULL,
	[DayName] [varchar](max) NULL,
	[SubjectName] [varchar](max) NULL,
	[SubjectCode] [varchar](max) NULL,
	[ActivityName] [varchar](max) NULL,
	[ActivityDesc] [varchar](max) NULL,
	[ActivityType] [varchar](max) NULL,
	[ActivityGrade] [float] NULL,
	[ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 7/7/2024 12:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Year] [int] NULL,
	[TheMonthName] [nvarchar](30) NULL,
	[TheWeek] [int] NULL,
	[TheDate] [date] NULL,
	[DayName] [varchar](max) NULL,
	[SubjectName] [varchar](max) NULL,
	[SubjectCode] [varchar](max) NULL,
	[TaskName] [varchar](max) NULL,
	[TaskDesc] [varchar](max) NULL,
	[TaskType] [varchar](max) NULL,
	[TaskGrade] [float] NULL,
	[ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[LuciaSchool_Reporting_sp]    Script Date: 7/7/2024 12:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[LuciaSchool_Reporting_sp] as

		-- exec LuciaSchool_Reporting_sp

	drop table if exists  Reporting.dbo.Activities
	select y.Year
		, c.TheMonthName
		, c.TheWeek
		, c.TheDate
		, sc.DayName
		, s.SubjectName
		, s.SubjectCode
		, a.ActivityName
		, a.ActivityDesc
		, a.ActivityType
		, a.ActivityGrade
		, a.ID
		into Reporting.dbo.Activities
	from LuciaSchool.dbo.CalendarSchedule  cs
	join LuciaSchool.dbo.Calendar c on cs.CalendarId = c.ID
	join LuciaSchool.dbo.Schedule sc on cs.ScheduleID = sc.ID
	join LuciaSchool.dbo.Subjects s on sc.SubjectID = s.ID
	join LuciaSchool.dbo.Years y on sc.YearID = y.ID
	left join LuciaSchool.dbo.Activities a on cs.ID = a.CalendarScheduleID
	where c.TheDayName in (	
		 'Monday'
		, 'Tuesday'
		, 'Wednesday'
		, 'Thursday'
		, 'Friday'
	)


	drop table if exists Reporting.dbo.Tasks
	select y.Year
		, c.TheMonthName
		, c.TheWeek
		, c.TheDate
		, sc.DayName
		, s.SubjectName
		, s.SubjectCode
		, a.TaskName
		, a.TaskDesc
		, a.TaskType
		, a.TaskGrade
		, a.ID
		into Reporting.dbo.Tasks
	from LuciaSchool.dbo.CalendarSchedule  cs
	join LuciaSchool.dbo.Calendar c on cs.CalendarId = c.ID
	join LuciaSchool.dbo.Schedule sc on cs.ScheduleID = sc.ID
	join LuciaSchool.dbo.Subjects s on sc.SubjectID = s.ID
	join LuciaSchool.dbo.Years y on sc.YearID = y.ID
	left join LuciaSchool.dbo.Tasks a on cs.ID = a.CalendarScheduleID
	where c.TheDayName in (	
		 'Monday'
		, 'Tuesday'
		, 'Wednesday'
		, 'Thursday'
		, 'Friday'
	)
GO
