USE [LuciaSchool]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ActivityName] [varchar](max) NULL,
	[ActivityDesc] [varchar](max) NULL,
	[ActivityType] [varchar](max) NULL,
	[ActivityGrade] [float] NULL,
	[CalendarScheduleID] [int] NULL,
 CONSTRAINT [PK__Activity__3214EC2709F0D322] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[TheDate] [date] NULL,
	[TheDay] [int] NULL,
	[TheDayName] [nvarchar](30) NULL,
	[TheWeek] [int] NULL,
	[TheISOWeek] [int] NULL,
	[TheDayOfWeek] [int] NULL,
	[TheMonth] [int] NULL,
	[TheMonthName] [nvarchar](30) NULL,
	[TheQuarter] [int] NULL,
	[TheYear] [int] NULL,
	[TheFirstOfMonth] [date] NULL,
	[TheLastOfYear] [date] NULL,
	[TheDayOfYear] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalendarSchedule]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendarSchedule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CalendarID] [int] NULL,
	[ScheduleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professors]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProfessorFirstName] [varchar](max) NULL,
	[ProfessorLastName] [varchar](max) NULL,
 CONSTRAINT [PK__Professor__3214EC27A7271701] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DayName] [varchar](max) NULL,
	[SubjectID] [int] NULL,
	[YearID] [int] NULL,
 CONSTRAINT [PK__Schedule__3214EC27A6811F44] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [varchar](max) NULL,
	[SubjectCode] [varchar](max) NULL,
	[ProfessorID] [int] NULL,
 CONSTRAINT [PK__Subjects__3214EC27C6CC9BDD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [varchar](max) NULL,
	[TaskDesc] [varchar](max) NULL,
	[TaskType] [varchar](max) NULL,
	[TaskGrade] [float] NULL,
	[CalendarScheduleID] [int] NULL,
 CONSTRAINT [PK__Task__3214EC27505C7FA5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trimesters]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trimesters](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TrimesterNumber] [int] NULL,
	[YearID] [int] NULL,
	[TrimesterStart] [date] NULL,
	[TrimesterEnd] [date] NULL,
 CONSTRAINT [PK__Trimester__3214EC27846AAB3E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Years]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Years](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK__Year__3214EC27D48729E8] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_CalendarSchedule] FOREIGN KEY([CalendarScheduleID])
REFERENCES [dbo].[CalendarSchedule] ([ID])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_CalendarSchedule]
GO
ALTER TABLE [dbo].[CalendarSchedule]  WITH CHECK ADD  CONSTRAINT [FK_CalendarSchedule_Subjects] FOREIGN KEY([CalendarID])
REFERENCES [dbo].[Calendar] ([ID])
GO
ALTER TABLE [dbo].[CalendarSchedule] CHECK CONSTRAINT [FK_CalendarSchedule_Subjects]
GO
ALTER TABLE [dbo].[CalendarSchedule]  WITH CHECK ADD  CONSTRAINT [FK_CalendarSchedule_Years] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ID])
GO
ALTER TABLE [dbo].[CalendarSchedule] CHECK CONSTRAINT [FK_CalendarSchedule_Years]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Subjects] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([ID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Subjects]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Years] FOREIGN KEY([YearID])
REFERENCES [dbo].[Years] ([ID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Years]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_Professors] FOREIGN KEY([ProfessorID])
REFERENCES [dbo].[Professors] ([ID])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_Professors]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_CalendarSchedule] FOREIGN KEY([CalendarScheduleID])
REFERENCES [dbo].[CalendarSchedule] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_CalendarSchedule]
GO
ALTER TABLE [dbo].[Trimesters]  WITH CHECK ADD  CONSTRAINT [FK_Trimesters_Years] FOREIGN KEY([YearID])
REFERENCES [dbo].[Years] ([ID])
GO
ALTER TABLE [dbo].[Trimesters] CHECK CONSTRAINT [FK_Trimesters_Years]
GO
/****** Object:  StoredProcedure [dbo].[CalendarDimTable_sp]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CalendarDimTable_sp] as

	DECLARE @StartDate  date = '20240101'; 
	DECLARE @CutoffDate date = DATEADD(DAY, -1, DATEADD(YEAR, 10, @StartDate));


	WITH seq (n) AS (
	  SELECT 0 
	  UNION ALL 
	  SELECT n + 1 
	  FROM seq
	  WHERE n < DATEDIFF(DAY, @StartDate, @CutoffDate)
	), d (d) AS (
	  SELECT DATEADD(DAY, n, @StartDate) 
	  FROM seq
	), src AS (
	  SELECT
		TheDate         = CONVERT(date, d),
		TheDay          = DATEPART(DAY,       d),
		TheDayName      = DATENAME(WEEKDAY,   d),
		TheWeek         = DATEPART(WEEK,      d),
		TheISOWeek      = DATEPART(ISO_WEEK,  d),
		TheDayOfWeek    = DATEPART(WEEKDAY,   d),
		TheMonth        = DATEPART(MONTH,     d),
		TheMonthName    = DATENAME(MONTH,     d),
		TheQuarter      = DATEPART(Quarter,   d),
		TheYear         = DATEPART(YEAR,      d),
		TheFirstOfMonth = DATEFROMPARTS(YEAR(d), MONTH(d), 1),
		TheLastOfYear   = DATEFROMPARTS(YEAR(d), 12, 31),
		TheDayOfYear    = DATEPART(DAYOFYEAR, d)
	  FROM d
	)

	SELECT * 
	into Calendario
	FROM src
	ORDER BY TheDate
	OPTION (MAXRECURSION 0);
GO
/****** Object:  StoredProcedure [dbo].[HandleCreateActivity]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[HandleCreateActivity] @date date
								, @subject varchar(max)
								, @ActivityName varchar(max) 
								, @activityDesc  varchar(max) = null
								, @activityType  varchar(max) = null
								, @activityGrade  varchar(max) = null
								as
	insert into Activities (ActivityName, ActivityDesc, ActivityType, Grade, CalendarScheduleID)
	select ActivityName = @ActivityName, ActivityDesc = @activityDesc, ActivityType = @activityType, ActivityGrade = @activityGrade, cs.id
	-- select cs.id
	from Calendar  c
	join CalendarSchedule cs on cs.CalendarID = c.id
	join Schedule h on cs.ScheduleID = h.id
	join Subjects s on h.SubjectID = s.id
	where thedate =  @date
	and s.SubjectName = @subject
GO
/****** Object:  StoredProcedure [dbo].[HandleCreateTask]    Script Date: 7/7/2024 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[HandleCreateTask] @date date
								, @subject varchar(max)
								, @TaskName varchar(max) 
								, @TaskDesc  varchar(max) = null
								, @TaskType  varchar(max) = null
								, @TaskGrade  varchar(max) = null
								as
	insert into Tasks (TaskName, TaskDesc, TaskType, Grade, CalendarScheduleID)
	select TaskName = @TaskName, TaskDesc = @TaskDesc, TaskType = @TaskType, TaskGrade = @TaskGrade, cs.id
	-- select cs.id
	from Calendar  c
	join CalendarSchedule cs on cs.CalendarID = c.id
	join Schedule h on cs.ScheduleID = h.id
	join Subjects s on h.SubjectID = s.id
	where thedate =  @date
	and s.SubjectName = @subject
GO
